<%- include("header")-%>

<div class="box" id="heading"> 

    <h1 id="heading"><%= listtitle%></h1>	 
</div> 

<div class ="box">
<% for(let i=0; i<newlistItem.length;i++) {%>
<div class ="item">

<input type ="checkbox">

<p ><%= newlistItem[i]%></li>
</div>
<%}  %>


<form class ="item" action="/" method="post">
<input type="text" name="newItem" placeholder="New Item" autocomplete="off"> 
<button type="submit" name="list" value="<%=listtitle %>"> + </button>

</form>  

</div>
	
<footer class="footer">Thanks you</footer>	
  </body>
</html>

<%- include("footer") -%>